name: Trigger auto deployment for apiprodutorruralsensores

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/apiprodutorruralsensores-AutoDeployTrigger-38396583-c98e-4084-be5a-a652f9cfb82e.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.APIPRODUTORRURALSENSORES_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.APIPRODUTORRURALSENSORES_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.APIPRODUTORRURALSENSORES_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acrinfiniteloops.azurecr.io
          registryUsername: ${{ secrets.APIPRODUTORRURALSENSORES_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.APIPRODUTORRURALSENSORES_REGISTRY_PASSWORD }}
          containerAppName: apiprodutorruralsensores
          resourceGroup: fiap
          imageToBuild: acrinfiniteloops.azurecr.io/apiprodutorruralsensores:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


